body {
  min-height: 75rem;
  padding-top: 4.5rem;
}
.jumbotron {
  padding: 2rem;
}

#containerImage {
  width: 100%;
  text-align: center;
  min-height: 10px;
}
#containerImage #wrapperImage {
  display: inline-block;
  position: relative;
  border: 1px solid #000;
  /* border-radius: 6px; */
  /* padding: 3px; */
  background-color: #001c4a;
}
#wrapperImage img {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -o-user-select: none;
  -moz-user-select: none;
  pointer-events:none;
}

#wrapperImage .boundingbox {
  position: absolute;
  border: 1px solid #00ff99;
  border-radius: 5px;
}
#wrapperImage .boundingbox .ui-icon-gripsmall-diagonal-se {
  background-image: url("");
}

.jGrowl-notification {
  background-color: #28a745;
  border: 1px solid #064615;
}
.jGrowl-message {
  color: #ffffff;
  font-size: 17px;
}